body { color:white;
  background-color:#4B2794;
  font-family: Arial, Helvetica, sans-serif; }
header {
  background-color:#E6BDF5;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white; }
nav {
  float: left;
  width: 20%;
  height: 500px; 
  background-color: #665CA9;
  padding: 20px; }
article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #665CA9;
  height: 500px; }
