body { background-image: url(background1.png); }
title { border-left: 6px solid blue; 
  background-color: lightgrey;
  border-radius: 4px; 
  margin-bottom: 50px; 
  margin-left: 50px }
p { background-color: lightgrey;
   border-radius: 4px; }
img { margin-left: 50px }
